{% extends "quoteapp/base.html" %}

{% block content %}

<div>
    {% for quote in quotes %}
    <div>
        <span>{{ quote.quote }}</span>
        <span>
            by
            <small>{{ quote.author }}</small>
            <a href="{% url 'quoteapp:detail_author' quote.author %}">(about)</a>
        </span>
        <div>
            Tags:
            {% for tag in quote.tags.all %}
            <a href="">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}